@model WebApplication.ServiceReferenceShopLaptop.KhachHang
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Default.cshtml";
}

<div class="content_right">
    <div class="header-center"> ĐĂNG NHẬP </div>
    <p>Mời bạn đăng nhập để mua hàng!</p>
    @using (Html.BeginForm("LoginCart", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>@Html.Label("UserName: ")</td>
                <td>@Html.TextBoxFor(a => a.username)</td>
                <td style="color: red">@Html.ValidationMessageFor(a => a.username)</td>
            </tr>
            <tr>
                <td>@Html.Label("Password: ")</td>
                <td>@Html.PasswordFor(a => a.password)</td>
                <td style="color: red">@Html.ValidationMessageFor(a => a.password)</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><input type="submit" value="Đăng nhập" /><input type="reset" value="Nhập lại" /></td>
            </tr>
        </table>
    }
</div>
