@model IEnumerable<WebApplication.ServiceReferenceShopLaptop.SanPham>
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Views/Shared/Default.cshtml";
}

<div class="content_right">
    <div class=" header-center">DANH MỤC SẢN PHẨM</div>
    <!-- san pham -->
    <div>
        @foreach (var p in Model)
        {
            <div class="product-container">
                <a href="/Default/ChitietSP?masp=@Html.DisplayFor(item => p.masp).ToString().Trim()"><div class="product-container-image"><img src="@Html.DisplayFor(item => p.hinh)" /></div></a>
                <div><a href ="/Default/ChitietSP?masp=@Html.DisplayFor(item => p.masp).ToString().Trim()"/><b>@Html.DisplayFor(item => p.tensp)</b></div>
                <div style="color:#FF0000">Giá: @string.Format("{0:0,0 VNĐ}", p.gia).Replace(",", ".")</div>
                <button name="chitiet" value="Chi tiết">@Html.ActionLink("Chi tiết", "ChitietSP", "Default", new { masp = p.masp.Trim() }, null)</button>
                <button name="chonmua" value="Chọn mua">@Html.ActionLink("Chọn mua", "AddToCart", "ShoppingCart", new { id = p.masp.Trim(), gia = p.gia }, null)</button>
                @*if (p.HetHang == false)
                {
                    if (Request.IsAuthenticated)
                    {

                        <a href="../Cart/giohangthem?masanpham=@Html.DisplayFor(item => p.SachID).ToString()"><div class="muahang"></div></a>

                    }
                    else
                    {
                        <a href="" onclick="alert('Bạn phải đăng nhập để mua hàng!');"><div class="muahang"></div></a>
                    }
                }
                else
                {
                    <a href="#"><div class="hethang"></div></a>
                }*@
                <a href="/Default/Chitietsanpham?masp=@Html.DisplayFor(item => p.masp).ToString().Trim()"><div class="chitiet"></div></a>
            </div>
        }
    </div>
    <div class="clear"></div>
    <div>@{Html.RenderAction("PhanTrang", "PageList", new { currentpage = "Default/Danhmuc?chude=" + @ViewBag.maloai, totalpages = ViewBag.TotalPages });}</div>
    <div style="text-align:right; padding:6px; color:#FF3333; font-size:14px; height:22px"><a href="#top">>>Về đầu trang</a></div>

    <!--ket thuc cot giua-->
</div>
